<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Tests Suite" thread-count="2" parallel="classes">
    <test name="Tests">
        <classes>
            <class name="tests.uiTests.SmokeUITests"></class>
            <class name="tests.apiTests.ProjectsTest"></class>
        </classes>
    </test>
</suite>
